# Thunar Bookmarks
bookmarks

# Images
2_Wallpaper/*
!2_Wallpaper/Default.png 

3_Diashow/Diashow_1/*
!3_Diashow/Diashow_1/Default.png
!3_Diashow/Diashow_1/Default2.png

4_Fastfetch/*
!4_Fastfetch/Default.png

5_Avatar/*
!5_Avatar/Default.png

6_Sddm/*
!6_Sddm/Default.png 

7_Grub/*
!7_Grub/Default.png 

# Temp Files
5_Temp-Files/*
