# Thunar Bookmarks
bookmarks

# Images
User-Area.d/0_Wallpaper/*
!User-Area.d/0_Wallpaper/Default.png 

User-Area.d/1_Diashow/*
!User-Area.d/1_Diashow/Diashow_1/
!User-Area.d/1_Diashow/Diashow_2/

User-Area.d/2_Fastfetch/*
!User-Area.d/2_Fastfetch/Default.png

User-Area.d/3_Avatar/*
!User-Area.d/3_Avatar/Default.png

User-Area.d/4_Sddm/*
!User-Area.d/4_Sddm/Default.png 

User-Area.d/5_Grub/*
!User-Area.d/5_Grub/Default.png 

# Temp Files
System-Area.d/5_Temp-Files/*
!System-Area.d/5_Temp-Files/Placeholder

# Grub 
System-Area.d/7_Grub-Menu/Grub/Background.png

System-Area.d/3_Package-Config/0_App-Configs/fastfetch/Image.png
System-Area.d/3_Package-Config/0_App-Configs/rofi/config-Colors/Colors.rasi
