/*      _         _                     */ 
/*  ___| |_ _   _| | ___   ___ ___ ___  */ 
/* / __| __| | | | |/ _ \ / __/ __/ __| */
/* \__ \ |_| |_| | |  __/| (__\__ \__ \ */
/* |___/\__|\__, |_|\___(_)___|___/___/ */
/*          |___/                       */                     

* {
    border: none;
    border-radius: 0px;
    font-family: Iosevka, FontAwesome, Noto Sans CJK;
    font-size: 20px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: rgba(9, 19, 26, 0);
}

#workspaces {
  background: rgba(24, 27, 37, 1);
  margin: 0px 0px 0px 0px;  
  /* padding: 5px 5px 5px 5px; */
	border-radius: 0px 0px 20px 20px;
  font-weight: normal;
  font-style: normal; 
}

#workspaces button {
    padding: 10px 10px;
    border-radius: 0px 0px 16px 16px;
    color: #F292C9;
}

#workspaces button.active {
    color: #181C26;
    background-color: #F292C9;
    border-radius: 0px 0px 16px 16px;
}

#clock {
    color: #F292C9;
    background-color: rgba(24, 27, 37, 1);
    border-radius: 0px 0px 0px 25px;
    padding-left: 13px;
    padding-right: 15px;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

#custom-launcher {
    color: #F292C9;
    background-color: rgba(24, 27, 37, 1);
    border-radius: 0px 0px 25px 0px;
    margin: 0px 0px 0px 0px;
    padding: 0 20px 0 13px;
    font-size: 20px;
}

#custom-launcher button:hover {
    background-color: #F292C9;
    color: transparent;
    border-radius: 8px;
    margin-right: -5px;
    margin-left: 10px;
}

#window {
    background: #282828;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}
